@using Microsoft.AspNet.Identity
@model MvcBlog.ViewModel.VideoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Video comments</h2>

<div class="galleryCarDiv">
    <h4>GalleryCar</h4>
    <hr />

    <div class="row">
        <div class="col-md-2">
            @if (Model.video.Id != Model.firstVideoID)
            {
                @Html.ActionLink("Previous", "Details", new { id = Model.previousVideoId }, new { @class = "btn btn-primary", @style = "color:white" })
            }
            else
            {
                <button class="btn btn-default" style="color:black">Previous</button>
            }
        </div>
        <div class="col-md-9">
            <h2 class="title">@Model.video.Title</h2>
            @*<div class="body">*@

                <!--<img class="img-rounded" src=@*@Html.Raw(Model.CarVideo.Url)*@ align="middle">-->
                <iframe @*class="img-responsive img-rounded"*@ width="700" height="520" src="@Html.Raw(Model.video.Url)" frameborder="0" allowfullscreen align="middle"></iframe>
                <p>

                   @if (User.IsInRole("Administrators"))
                   {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.video.Id }, new { @class = "btn btn-primary", @style = "color:white" })

                    @Html.ActionLink("Delete", "Delete", new { id = Model.video.Id }, new { @class = "btn btn-primary", @style = "color:white" })
                   }
                </p>

            @*</div>*@

        </div>
        <div class="col-md-1">
                @if (Model.video.Id != Model.lastVIdeoItemID)
            {
                    @Html.ActionLink("Next", "Details", new { id = Model.nextVideoId }, new { @class = "btn btn-primary", @style = "color:white" })
                }
                else
                {
                    <button class="btn btn-default" style="color:black">Next</button>
                }
        </div>
        
    <br />
    <div class="row">

        <div class="col-md-2">

        </div>
        
        <div class="col-md-2">

        </div>
    </div>
    <br />
</div>
@if(Model.videoComments.Where( v => v.Post.Id == Model.video.Id).FirstOrDefault() != null)
{
    foreach (var item in Model.videoComments)
    {
        <div class="row">
            <div class="col-md-2 ">
               @if (item.Author.Id == User.Identity.GetUserId() || User.IsInRole("Administrators"))
               {
                    <a href="/VideoComments/Delete/@item.Id">
                        <div class=" btn btn-danger" style="color:white">Delete</div>
                    </a>

                    <a href="/VideoComments/Edit/@item.Id">
                        <div class=" btn btn-danger" style="color:white">Edit</div>
                    </a>
               }
                </div>
            <div class="post col-md-7">
                <div class="about">
                    Posted on <i>@item.Date</i>
                    @if (item.Author != null)
                    {
                        @:by <i>@item.Author.FullName (@item.Author.UserName)</i>
                }
                    <div class="body">@item.Text</div>
                </div>
            </div>
            <div class="col-md-2 ">

            </div>

        </div>
        <br>

    }
    <div class="row">
        <div class="col-md-2">

        </div>
        <a href="/VideoComments/Create">
            <div class="col-md-8 btn btn-primary" style="color:white">Create a comment</div>
        </a>

        @*@Html.ActionLink("Create Comment", "Create", "Comments", new { @class = "btn btn-primary col-md-7", @style = "color:white" })*@


        <div class="col-md-2">

        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="post">
                <p style="text-align:center">No comments</p>
            </div>
        </div>
        <div class="col-md-8"></div>
        <div class="row">
            <div class="col-md-2">

            </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <a href="/VideoComments/Create">
            <div class="col-md-8 btn btn-primary" style="color:white">Write the first comment</div>
        </a>
        @*@Html.ActionLink("Write the first comment", "Create", "Comments", new { @class = "btn btn-primary col-md-6", @style = "color:white" })*@
        <div class="col-md-2"></div>
    </div>
}