@using Microsoft.AspNet.Identity
@model MvcBlog.ViewModel.GalleryCarViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="galleryCarDiv">
    <h4>Gallery Cars</h4>
    <hr />

    <div class="row">
        <div class="col-md-2">
            @if (Model.Car.Id != Model.firstItemID)
            {
                @Html.ActionLink("Prev", "Details", new { id = Model.Car.Id - 1 }, new { @class = "btn btn-primary", @style = "color:white" })
            }
            else
            {
                <button class="btn btn-primary">Prev</button>
            }
        </div>
        <div class="col-md-8 body">
            <h2 class="title">@Model.Car.Title</h2>

            <img class="img-responsive" src=@Html.Raw(Model.Car.URL)>

            <p>
                @if (User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Car.Id }, new { @class = "btn btn-primary", @style = "color:white" })

                    @Html.ActionLink("Delete", "Delete", new { id = Model.Car.Id }, new { @class = "btn btn-primary", @style = "color:white" })
                }
            </p>
        </div>
        <div class="col-md-1">
            @if (Model.Car.Id != Model.lastItemID)
            {
                @Html.ActionLink("Next", "Details", new { id = Model.Car.Id + 1 }, new { @class = "btn btn-primary", @style = "color:white" })
            }
            else
            {
                <button class="btn btn-primary" align="right">Next</button>
            }
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7 CarDetails">
            @Html.Raw(Model.Car.Description)
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br />

@if (Model.carComments.Where(c => c.Post.Id == Model.Car.Id).FirstOrDefault() != null)
{
    foreach (var item in Model.carComments)
    {
        <div class="row">
            <div class="col-md-2">
                @if (item.Author.Id == User.Identity.GetUserId() || User.IsInRole("Administrators"))
                {
                    <a href="/Comments/Delete/@item.Id">
                        <div class=" btn btn-danger" style="color:white">Delete</div>
                    </a>
                    <a href="/Comments/Edit/@item.Id">
                        <div class=" btn btn-danger" style="color:white">Edit</div>
                    </a>
                }
            </div>
            <div class="post col-md-7">
                <div class="about">
                    Posted on <i>@item.Date</i>
                    @if (item.Author != null)
                    {
                        @:by <i>@item.Author.FullName (@item.Author.UserName)</i>
                    }
                    <div class="body">@item.Text</div>
                </div>
            </div>
            <div class="col-md-2 "></div>

        </div>
        <br>

    }
    <div class="row">
        <div class="col-md-2"></div>
        <a href="/Comments/Create">
            <div class="col-md-7 btn btn-primary" style="color:white">Create a comment</div>
        </a>
        <div class="col-md-3"></div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <div class="post">
                <p style="text-align:center">No comments</p>
            </div>
        </div>
        <div class="col-md-8"></div>
        <div class="row">
            <div class="col-md-2">

            </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>
            <div class="row">
                <div class="col-md-2"></div>
                <a href="/Comments/Create">
                    <div class="col-md-7 btn btn-primary" style="color:white">Write the first comment</div>
                </a>
                <div class="col-md-3"></div>
            </div>
}
